<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
	<listeners>
		<listener class-name="herokuApp.util.Reporting" />
	</listeners>
	<test verbose="2" preserve-order="true" name="D:/Manish/IntelliJProjects/tests/The-Heroku-App-Selenium">
		<classes>
			<class name="herokuApp.testcases.HerokuAppABTestingPageTest">
				<methods>
					<include name="verifyABTestingPageURL"/>
					<include name="verifyABTestingPageHeader"/>
					<include name="verifyABTestingPageMessage"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppAddRemoveElementsPageTest">
				<methods>
					<include name="verifyAddRemoveElementsPageHeader"/>
					<include name="verifyElementAddition"/>
					<include name="verifyElementDeletion"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppBasicAuthPageTest">
				<methods>
					<include name="verifyLogin"/>
					<include name="verifyCancelLogin"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppBrokenImagesPageTest">
				<methods>
					<include name="verifyIfImageIsBroken"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppChallengingDOMPageTest">
				<methods>
					<include name="verifyCanvasElement"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppCheckBoxesPageTest">
				<methods>
					<include name="verifyCheckBoxesStatus"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppContextMenuPageTest">
				<methods>
					<include name="verifyAlertForContextMenu"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppDigestAuthenticationPageTest">
				<methods>
					<include name="verifyDigestAuthLogin"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppDisappearingElementsPageTest">
				<methods>
					<include name="verifyAllButtonsPresent"/>
					<include name="verifyGalleryButtonPresence"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppDragAndDropPageTest">
				<methods>
					<include name="verifyAllButtonsPresent"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppDropdownPageTest">
				<methods>
					<include name="verifyAllButtonsPresent"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppDynamicContentPageTest">
				<methods>
					<include name="verifyDynamicContent"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppDynamicControlsPageTest">
				<methods>
					<include name="verifyDynamicControls"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppDynamicLoadingPageTest">
				<methods>
					<include name="verifyDynamicLoadingElements"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppEntryAdPageTest">
				<methods>
					<include name="verifyEntryAd"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppExitIntentPageTest">
				<methods>
					<include name="verifyExitIntent"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppFileDownloadPageTest">
				<methods>
					<include name="verifyFileDownload"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppFileUploadPageTest">
				<methods>
					<include name="verifyFileUpload"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppFloatingMenuPageTest">
				<methods>
					<include name="verifyFloatingMenu"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppForgotPasswordPageTest">
				<methods>
					<include name="verifyPasswordRetrieval"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppFormAuthenticationPageTest">
				<methods>
					<include name="validateFormAuthentication"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppFramesPageTest">
				<methods>
					<include name="verifyNestedFrames"/>
					<include name="verifyiFrame"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppGeolocationPageTest">
				<methods>
					<include name="verifyGeolocationOutput"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppHomePageTest">
				<methods>
					<include name="verifyTitle"/>
					<include name="verifyHeader"/>
					<include name="landingPage"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppHorizontalSliderPageTest">
				<methods>
					<include name="verifyHorizontalSlider"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppHoversPageTest">
				<methods>
					<include name="verifyHovers"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppInfiniteScrollPageTest">
				<methods>
					<include name="verifyInfiniteScroll"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppInputsPageTest">
				<methods>
					<include name="verifyInputs"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppJQueryUIMenuPageTest">
				<methods>
					<include name="verifyJQeryUIMenu"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppJSAlertsPageTest">
				<methods>
					<include name="verifyJSAlerts"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppJSOnloadEventErrorPageTest">
				<methods>
					<include name="verifyJSOnloadEventErrors"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppKeyPressesPageTest">
				<methods>
					<include name="verifyKeyPresses"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppMultipleWindowsPageTest">
				<methods>
					<include name="verifyMultipleWindows"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppNestedFramesPageTest">
				<methods>
					<include name="verifyIndepedentNestedFrames"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppNotificationMessagesPageTest">
				<methods>
					<include name="verifyPasswordRetrieval"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppRedirectLinkPageTest">
				<methods>
					<include name="verifyRedirectLink"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppSecureFileDownloadPageTest">
				<methods>
					<include name="verifySecureFileDownload"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppShadowDOMPageTest">
				<methods>
					<include name="verifyShadowDOM"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppShiftingContentPageTest">
				<methods>
					<include name="verifyShiftingContent"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppSlowResourcesPageTest">
				<methods>
					<include name="verifySlowResources"/>
				</methods>
			</class>
			<class name="herokuApp.testcases.HerokuAppStatusCodesPageTest">
				<methods>
					<include name="verifyStatusCodes"/>
				</methods>
			</class>
		</classes>
	</test>
</suite>